.sidebar {
  width: 250px;
  background: var(--bg-light);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.nav a {
  display: block;
  padding: 10px 0;
  color: var(--gray);
  text-decoration: none;
  transition: var(--transition);
  border-radius: 8px;
  margin-bottom: 5px;
}

.nav a:hover,
.nav .ativacao {
  color: var(--white);
  background: var(--purple);
  padding-left: 10px;
}

.desconto {
  margin-top: 20px;
  background: var(--purple);
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}