:root {
  --bg: #181310;
  --panel: #241d18;
  --wood: #3a2c20;
  --gold: #d6b36a;
  --text: #f2e8d8;
  --text-dark: #c8bba9;
}

.container {
  background: var(--bg);
  min-height: 100vh;
  padding: 30px;
  color: var(--text);
  font-family: "Spectral", serif;
}

.voltar {
  background: none;
  border: none;
  color: var(--gold);
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

.card {
  background: var(--panel);
  margin: auto;
  max-width: 700px;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid var(--gold);
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

.banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid var(--gold);
}

.title {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  color: var(--gold);
}

.desc {
  margin-top: 15px;
  font-size: 16px;
  color: var(--text-dark);
}

.info {
  margin-top: 20px;
  background: rgba(0,0,0,0.2);
  padding: 15px;
  border-radius: 10px;
  line-height: 28px;
}

.botao {
  margin-top: 25px;
  width: 100%;
  padding: 15px;
  background: var(--gold);
  color: #3d2f16;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
}

.botao:hover {
  background: #f0d69c;
}

.loading,
.error {
  text-align: center;
  color: var(--gold);
  font-size: 20px;
  margin-top: 60px;
}
