.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pesquisar {
  background: var(--bg-light);
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: var(--white);
  width: 250px;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}