/* CadastrarProduto.module.css */

/* Container principal */
.container {
  background-color: #1B1E29;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

/* Formulário */
.form {
  background: #171A21;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Inputs e textarea */
.input,
.select,
.fileInput {
  background: #1B1E29;
  color: white;
  border: 1px solid #6C5CE7;
  border-radius: 8px;
  padding: 0.7rem;
  outline: none;
}

.textarea {
  height: 80px;
  resize: none;
}

/* Botões */
.btnSubmit {
  background: #6C5CE7;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btnSubmit:hover {
  background: #7c6df0;
  transform: translateY(-2px);
}

.btnVoltar {
  background: transparent;
  color: #a0a0a0;
  border: 1px solid #6C5CE7;
  padding: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
}

.btnVoltar:hover {
  background: #6c5ce7;
  color: white;
}

/* Preview da imagem */
.previewContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.previewImg {
  border-radius: 8px;
  border: 1px solid #6C5CE7;
  max-width: 250px;
  max-height: 250px;
}

/* Título */
.title {
  color: #6c5ce7;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
}
